<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Claim</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-hand-holding-usd text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <a
            class="btn btn-md btn-default text-white"
            (click)="openModal(claim)"
          >
            New Claim
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-2">
          <div class="card border-light shadow-sm">
            <div class="card-body">
              <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 px-xl-0 text-center">
                  <div class="d-none d-sm-block">
                    <h2 class="h5">Total amount of pending claims:</h2>
                    <h3 class="h4 mt-4 text-success">MYR 0.00</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-6 col-lg-2">
          <div class="card border-light shadow-sm">
            <div class="card-body">
              <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 px-xl-0 text-center">
                  <div class="d-none d-sm-block">
                    <h2 class="h5">Total amount of approved + paid:</h2>
                    <h3 class="h4 mt-4 text-success">MYR 0.00</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-6 col-lg-2">
          <div class="card border-light shadow-sm">
            <div class="card-body">
              <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 px-xl-0 text-center">
                  <div class="d-none d-sm-block">
                    <h2 class="h5">Total amount of rejected claims:</h2>
                    <h3 class="h4 mt-4 text-success">MYR 0.00</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-6 col-lg-2">
          <div class="card border-light shadow-sm">
            <div class="card-body">
              <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 px-xl-0 text-center">
                  <div class="d-none d-sm-block">
                    <h2 class="h5">Total claims amount excl. SST:</h2>
                    <h3 class="h4 mt-4 text-success">MYR 0.00</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-6 col-lg-2">
          <div class="card border-light shadow-sm">
            <div class="card-body">
              <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 px-xl-0 text-center">
                  <div class="d-none d-sm-block">
                    <h2 class="h5">Total SST <br />amount:</h2>
                    <h3 class="h4 mt-4 text-success">MYR 0.00</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-6 col-lg-2">
          <div class="card border-light shadow-sm">
            <div class="card-body">
              <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 px-xl-0 text-center">
                  <div class="d-none d-sm-block">
                    <h2 class="h5">
                      <b>Total claims <br />amount:</b>
                    </h2>
                    <h3 class="h4 mt-4 text-success">MYR 0.00</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h5 class="h3 mt-2 mb-0">Search Claim Report</h5>
            </div>
            <!-- <div class="col-md-6 text-right">
                    <button
                      class="btn btn-default"
                      type="button"
                      (click)="openModal(createUser)"
                    >
                      Add New
                    </button>
                  </div> -->
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-xl-4">
              <div class="form-group">
                <label class="form-control-label">Pick Range Date</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-calendar-grid-58"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    bsDaterangepicker
                    [(ngModel)]="bsRangeValue"
                    [bsConfig]="{
                      isAnimated: true,
                      containerClass: 'theme-red'
                    }"
                    name="bsDaterangepicker"
                  />
                </div>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="form-group">
                <label for="claimCategory">Category</label>
                <select class="form-control" id="claimCategory">
                  <option selected>Choose</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="form-group">
                <label for="claimType">Claim Type</label>
                <select class="form-control" id="claimType">
                  <option selected>Choose</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>

            <div class="col-xl-12 text-right">
              <button
                class="btn btn-default"
                type="button"
                (click)="successSwal('searched')"
              >
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">Claim Data Report</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    entries
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
              (activate)="onActivate($event)"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Date of Transaction</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.dateTrans }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Date of Application</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.dateAppli }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Date of Approval</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.dateAppro }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Category</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.category }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>More Info</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.moreInfo }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Status</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span
                    *ngIf="row.status == 'active'"
                    class="badge badge-pill badge-success"
                    >Paid</span
                  >
                  <span
                    *ngIf="row.status == 'unactive'"
                    class="badge badge-pill badge-warning"
                    >Pending</span
                  >
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #claim>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Submit a New Claim
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-6">
          <div class="mb-4">
            <label>Date of Transaction</label>
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-calendar-grid-58"></i
                ></span>
              </div>
              <input
                type="text"
                placeholder="Datepicker"
                class="form-control"
                bsDatepicker
                [bsValue]="bsValue"
                [bsConfig]="{ isAnimated: true, containerClass: 'theme-red' }"
              />
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-4">
            <label for="category5">Category</label>
            <select class="form-control" id="category5">
              <option selected>Choose</option>
              <option value="1">Small</option>
              <option value="2">Big</option>
              <option value="3">Medium</option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <form>
      <div class="row">
        <div class="col-6">
          <div class="mb-4">
            <label for="dateofreport">Total Receipt Amount</label>
            <div class="input-group">
              <span class="input-group-text">MYR</span>
              <input
                class="form-control"
                type="number"
                value="0.00"
                id="example-number-input"
              />
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-4">
            <label for="pic1">Tax Invoice / Receipt #</label>
            <input
              type="text"
              class="form-control"
              placeholder="eg Mrs Ilya"
              id="pic1"
            />
          </div>
        </div>
      </div>
    </form>
    <form>
      <div class="row">
        <div class="col-12">
          <div class="mb-4">
            <label for="textarea6">Notes about this claim</label>
            <textarea
              class="form-control"
              placeholder="Enter your message..."
              id="textarea6"
              rows="3"
            ></textarea>
          </div>
        </div>
      </div>
    </form>
    <form>
      <div class="custom-file">
        <input
          type="file"
          class="custom-file-input"
          id="customFileLang"
          lang="en"
        />
        <label class="custom-file-label" for="customFileLang"
          >Select file</label
        >
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-success"
      type="button"
      (click)="successSwal('created')"
    >
      Create
    </button>

    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      Close
    </button>
  </div>
</ng-template>
